{{- $key_base := "/conf/e3w"}}
[app]
port=8080
{{- $key := print $key_base "/app/auth"}}
{{- if getv $key "false" | parseBool}}
auth=true
{{- else}}
auth=false
{{- end}}
cert_file={{getenv "CONFD__E3W__APP__CERT_FILE"}}
key_file={{getenv "CONFD__E3W__APP__KEY_FILE"}}
{{- $key := print $key_base "/app/token_max_age"}}
token_max_age={{getv $key ""}}

[etcd]
{{- $key := print $key_base "/etcd/root_key"}}
root_key={{getv $key}}
dir_value={{getenv "E3CH_DIR_VAL"}}
{{- range print $key_base "/etcd/endpoints/*" | gets}}
endpoint={{.Value}}
{{- end}}
{{- $key := print $key_base "/etcd/username"}}
username={{getv $key ""}}
{{- $key := print $key_base "/etcd/password"}}
password={{getv $key ""}}
{{- $key := print $key_base "/etcd/cert_file"}}
cert_file={{getv $key ""}}
{{- $key := print $key_base "/etcd/key_file"}}
key_file={{getv $key ""}}
{{- $key := print $key_base "/etcd/ca_file"}}
ca_file={{getv $key ""}}

{{- $key := print $key_base "/auth/local"}}
{{- if exists $key}}
[auth:local]
{{- $key := print $key_base "/auth/local/username"}}
username={{getv $key}}
{{- $key := print $key_base "/auth/local/password"}}
password={{getv $key}}
{{- end}}

{{- $key := print $key_base "/auth/ldap"}}
{{- if exists $key}}
[auth:ldap]
{{- $key := print "/conf/ldap/user_auth_dn"}}
bind_user_dn={{getv $key}}
{{- $key := print "/conf/ldap/user_auth_pw"}}
bind_pw={{getv $key}}
{{- $key := print "/conf/ldap/server_path"}}
uri={{getv $key}}
{{- $key := print "/conf/ldap/use_tls"}}
{{- if getv $key "false" | parseBool}}
use_tls=true
{{- else}}
use_tls=false
{{- end}}
{{- $key := print $key_base "/auth/ldap/tls_insecure_skip_verify"}}
{{- if getv $key "false" | parseBool}}
tls_insecure_skip_verify=true
{{- else}}
tls_insecure_skip_verify=false
{{- end}}
{{- $key := print $key_base "/auth/ldap/ca_cert_file"}}
ca_cert_file={{getv $key}}
{{- $key := print $key_base "/auth/ldap/base_dn"}}
base_dn={{getv $key}}
{{- $key := print $key_base "/auth/ldap/user_search_filter"}}
user_search_filter={{getv $key}}
{{- end}}
